<!DOCTYPE html>

<html>
 <head>
  <meta charset = "utf-8">

  <title>CLASH</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="../css/main.css">

<!-- our javascript -->
<!-- script src="js/clash.js" ></script -->


<!-- third-party javascript -->
<script src="lib/jquery/jquery-1.11.2.js" ></script>
<script src="lib/jquery/jquery.uriAnchor-1.1.3.js"></script>

<!-- backbone -->
<script src="lib/underscore.js" ></script>
<script src="lib/backbone.js"></script>
 </head>

 <body>
  <div id = "header"></div>

  <div id = "menu">Menu</div>
  <div id = "content">Content

  </div>
  <div id = "footer">Footer</div>
 </body>
</html>

